[submodule "lib/circle-stdlib"]
	path = lib/circle-stdlib
	url = https://github.com/smuehlst/circle-stdlib
[submodule "lib/mINI"]
	path = lib/mINI
	url = https://github.com/metayeti/mINI.git
[submodule "lib/mcufont"]
	path = lib/mcufont
	url = https://github.com/mcufont/mcufont.git
[submodule "lib/ObjFW"]
	path = lib/ObjFW
	url = https://github.com/ObjFW/ObjFW.git
[submodule "lib/--force"]
	path = lib/--force
	url = https://github.com/mcufont/mcufont.git
